<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>

  <connectionStrings>
    <clear />
    <!--
    *******************************************************************************************************************
    Define connection strings for all database destinations that you would like to deploy to.
    For example connection strings, visit: http://www.connectionstrings.com/
    
    Template:
      <add name="{NameOfConnectionString}"
           providerName="{NameOfDataProvider}"
           connectionString="{ConnectionString}" />
    *******************************************************************************************************************
    -->
  </connectionStrings>
</configuration>
